<div class="row mb-3">
    <div class="col">
        <h6 class="title">Users<br>
        </h6>
    </div>
    <div class="col-auto align-self-center">
        <a [routerLink]="['/user']" class="small">Add</a>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 px-0">
        <ul class="list-group list-group-flush bg-none">
            <li class="list-group-item" [routerLink]="['/user']" (click)="openUser(user)" *ngFor="let user of userList">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 shadow rounded-10 ">
                            <img *ngIf="!!userImagePath+user.image" [src]="userImagePath+user.image" [alt]="user?.firstname">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="text-color-theme mb-0">{{user?.firstname}} {{user?.lastname}}</p>
                        <p class="text-muted size-12">{{user.email}} {{user.username}}</p>
                    </div>
                    <div class="col align-self-center text-end">
                        <p class="mb-0">{{user?.amount | currency}}</p>
                        <p class="text-muted size-12">{{user?.date_of_transaction | date: 'EEE, dd MMM yyyy'}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>