<div class="row position-relative bg-dark text-white py-5">
    <div class="position-absolute start-0 top-0 coverimg h-100 w-100 opacity-5 z-index-0" style="background-image: url('assets/img/banner.jpg');">
        <img src="assets/img/banner.jpg" alt="" class="d-none">
    </div>
    <div class="col-12 col-md-6 col-lg-4 mx-auto align-self-center z-index-1 text-center">
        <div class="avatar avatar-100 rounded-15 mx-auto mb-1">
            <img src="assets/img/logo.svg" alt="" class="w-100" />
        </div>

        <h6 class="mb-2">We are the best</h6>
        <h1 class="mb-0">WalletPlus</h1>
        <p>Mobile HTML Template</p>
        <br>
        <p>For the humans by the human<br>Hand Crafted by Maxartkiller with 
            <span class="text-danger">❤</span>
        </p>
    </div>
</div>


<div class="row bg-theme-light">
    <div class="col align-self-center">
        <div class="text-center py-3">
            <h4><span class="countertext">35</span>+</h4>
            <p class="small text-muted">Pages</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-3">
            <h4><span class="countertext">4</span>+</h4>
            <p class="small text-muted">Styles</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-3">
            <h4><span class="countertext">2</span></h4>
            <p class="small text-muted">Dark<sup>L</sup>+RTL</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-3">
            <h4><span class="countertext">3</span></h4>
            <p class="small text-muted">Menus</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto py-4">
        <h4 class="mb-2">Its time to fall in love with Creative design, Flexibility &amp; Uniqueness.</h4>
        <p class="text-muted mt-3">User experienced user interfaces with HTML and CSS also providing
            flexibility of style color customization. We have created specific website template demos and
            component library which be used across any demo.</p>
    </div>
</div>

<div class="row">
    <div class="col-6 col-md-6 bg-primary-light py-4">
        <div class="row">
            <div class="col">
                <h6 class="text-primary mb-2">User Experience</h6>
                <p class="text-muted small">User Experience is key priority for us and we
                    always think about domains as well as users from those business domain.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 bg-success-light py-4">
        <div class="row">
            <div class="col">
                <h6 class="text-success mb-2">Unlimited Styles</h6>
                <p class="text-muted small">We have predefined 5+ styles and create very own
                    new style by changing and recompiling provided varibles file in SCSS.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-md-6 bg-danger-light py-4">
        <div class="row">
            <div class="col">
                <h6 class="text-danger mb-2">Loving Framework</h6>
                <p class="text-muted small">We and many of us love bootstrap framework so we
                    have build WalletPlus with Bootstrap 5 version.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 bg-warning-light py-4">
        <div class="row">
            <div class="col">
                <h6 class="text-warning mb-2">Many Icons</h6>
                <p class="text-muted small">There are many posibility to use icons with any
                    fonts icons. Here we have used bootstrap icons</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-md-6  bg-success-light py-4">
        <div class="row">
            <div class="col">
                <h6 class="text-success mb-2">Clean Code</h6>
                <p class="text-muted small">We have practiced with clean code no more commented
                    areas and only required comments. Also validated with W3C validator.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 bg-primary-light py-4 ">
        <div class="row">
            <div class="col">
                <h6 class="text-primary mb-2">Documentation</h6>
                <p class="text-muted small">We have added documentation to undertand basic
                    folder structure and steps to change styles with code snippets.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10 mx-auto py-4">
        <h4>Attach with Emotions</h4>
        <h6>Express your brand with WalletPlus</h6>
        <p class="text-muted mt-3">Our WalletPlus HTML template is creatively hand crafter with
            consideration
            of human behaviour with consistancy and color contrast. We have created full website demo with
            multiple
            each domain/business demo unlike anyother template in market.</p>
    </div>
</div>