<!-- Search -->
<div class="form-group form-floating mb-3">
    <input type="text" class="form-control " id="search" placeholder="Search">
    <label class="form-control-label" for="search">Search User</label>
    <button type="button" class="text-color-theme tooltip-btn">
        <i class="bi bi-search"></i>
    </button>
</div>

<div class="row mb-4 position-relative bg-dark text-white py-4">
    <div class="position-absolute start-0 top-0 coverimg h-100 w-100 opacity-5 z-index-0"
        style="background-image: url('assets/img/banner.jpg');">
        <img src="assets/img/banner.jpg" alt="" class="d-none">
    </div>
    <div class="col-12 col-md-6 col-lg-4 mx-auto align-self-center z-index-1 text-center">
        <div class="avatar avatar-80 rounded-circle mx-auto theme-bg mb-3">
            <i class="bi bi-person-circle size-32"></i>
        </div>

        <h4 class=" mb-2">Meet People, Meet the Team</h4>
        <p class="text-center small">Find desired people profile here.</p>
    </div>
</div>

<!-- connection -->
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper users connections -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Nicolas</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Shelvey</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">Amenda</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/profile" class="card text-center">
                    <div class="card-body">
                        <figure class="avatar avatar-50 shadow-sm mb-1 rounded-10">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                        <p class="text-color-theme size-12 small">RXL15</p>
                    </div>
                </a>
            </ng-template>
        </swiper>
    </div>
</div>

<!-- User list items  -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="avatar avatar-50 rounded-10 shadow-sm">
                                <img src="assets/img/user1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-muted">Jr. Software Engineer</small>
                            </p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-muted size-12">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="avatar avatar-50 rounded-10 shadow-sm">
                                <img src="assets/img/user2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-muted">Project Manager</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-muted size-12">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="avatar avatar-50 rounded-10 shadow-sm">
                                <img src="assets/img/user3.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-muted">Lead UX Designer</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-muted size-12">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">
                            <figure class="avatar avatar-50 rounded-10 shadow-sm">
                                <img src="assets/img/user1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col px-0">
                            <p>Ajinkya McMohan<br><small class="text-muted">Sr. Marketing Head</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-muted size-12">Online <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-80 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="mb-1 text-color-theme text-center">John McMohan</p>
                <p class="text-small text-muted small">Chief Designer</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-80 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="mb-1 text-color-theme text-center">Alizee D'Souza</p>
                <p class="text-small text-muted small">Lead Designer</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-80 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="mb-1 text-color-theme text-center">Joy Arihant</p>
                <p class="text-small text-muted small mb-3">UX Designer</p>
                <button class="btn btn-default btn-sm w-100 shadow-sm">Invite</button>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-80 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="mb-1 text-color-theme text-center">Joy Arihant</p>
                <p class="text-small text-muted small mb-3">UX Designer</p>
                <button class="btn btn-default btn-sm w-100 shadow-sm">Invite</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-100 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user1.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="card-title mb-1 text-color-theme text-center">John McMohan</p>
                <p class="text-small text-muted small">Chief Designer</p>
                <p class="mb-4">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>

                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-default shadow-sm">Invite</button>
                    </div>
                    <div class="col d-grid">
                        <a routerLink="/chat-message" class="btn btn-light shadow-sm">Chat</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-100 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user2.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="card-title mb-1 text-color-theme text-center">Alizee D'Souza</p>
                <p class="text-small text-muted small">Lead Designer</p>
                <p class="mb-4">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>

                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-default shadow-sm">Invite</button>
                    </div>
                    <div class="col d-grid">
                        <a routerLink="/chat-message" class="btn btn-light shadow-sm">Chat</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile" class="col">
                        <figure class="avatar avatar-100 mx-auto mb-3 rounded-circle">
                            <img src="assets/img/user3.jpg" alt="">
                        </figure>
                    </a>
                </div>
                <p class="card-title mb-1 text-color-theme text-center">Joy Arihant</p>
                <p class="text-small text-muted small">UX Designer</p>
                <p class="mb-4">Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed eiusmod exercitation
                    ullamco.</p>

                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-default shadow-sm">Invite</button>
                    </div>
                    <div class="col d-grid">
                        <a routerLink="/chat-message" class="btn btn-light shadow-sm">Chat</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-muted mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
</div>