<!-- Search -->
<div class="row mb-4 py-4 position-relative bg-dark text-white">
    <div class="position-absolute start-0 top-0 coverimg h-100 w-100 opacity-5" style="background-image: url('assets/img/banner.jpg');">
        <img src="assets/img/banner.jpg" alt="" class="d-none">
    </div>
    <div class="col-11 col-md-6 col-lg-4 mx-auto align-self-center">
        <h2 class="text-center mb-2">Frequently Asked Questions</h2>
        <p class="text-center mb-4">Search your query or go trough your desired choice category
            and questions.</p>
        <div class="form-group search-header">
            <input class="form-control border-0" placeholder="Search">
            <button type="button" class="btn btn-link tooltip-btn">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</div>

<!-- FAQs -->
<div class="row mb-4">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="accordion accordion-flush rounded-15 shadow-sm card overflow-hidden"
            id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="true"
                        aria-controls="flush-collapseOne">
                        How WalletPlus is flexible template?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-muted">WalletPlus provides wide rang of different
                        componentsor
                        module based UI interface which are syc or consistance with the whole template.
                        Thats the man reason MoobileUx is flexible to create pages and development. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        About WalletPlus third party usage?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-muted">WalletPlus provides wide rang of different
                        componentsor
                        module based UI interface which are syc or consistance with the whole template.
                        Thats the man reason MoobileUx is flexible to create pages and development. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        Best in class for a reason
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-muted">WalletPlus provides wide rang of different
                        componentsor
                        module based UI interface which are syc or consistance with the whole template.
                        Thats the man reason MoobileUx is flexible to create pages and development. </div>
                </div>
            </div>
        </div>
    </div>

</div>