

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card mb-4">
            <div class="card-header border-0">
                <div class="row">
                    <div class="col position-relative align-self-center">
                        <h6 class="mb-1">{{'EXPENSES' |translate}}</h6>
                        <input type="text" placeholder="Select date range" readonly="readonly"
                            id="daterange" class="calendar-daterange text-muted small"  daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
                        
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn btn-light btn-44 daterange-btn"  onclick="document.getElementById('daterange').click()">
                            <i class="bi bi-calendar-range size-22"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body px-2" *ngIf="!!expenseData">
                <app-barchart [expenseData]="expenseData"></app-barchart>
            </div>
        </div>
    </div>
    
</div>


<div class="row mb-3">
    <div class="col">
        <h6 class="title">{{'STATISTICS' |translate}}</h6>
    </div>
</div>


<div class="row mb-1">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                            <i class="bi bi-phone vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'BALANCE' | translate}}</span></p>
                        <p>{{  statisticsData?.balance | currency}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-info text-white">
                            <i class="bi bi-moisture vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'INCOME' | translate}}</span> </p>
                        <p>{{statisticsData?.incomeTotal | currency}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>



<div class="row mb-1">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                            <i class="bi bi-phone vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'EXPENSES' | translate}}</span></p>
                        <p>{{statisticsData?.expenseTotal | currency}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-info text-white">
                            <i class="bi bi-moisture vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{'SAVINGS' | translate}}</span> </p>
                        <p>{{statisticsData?.expenditureTotal | currency}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row mb-3">
    <div class="col">
        <h6 class="title">{{'TOP_CATEGORIES' | translate}}</h6>
    </div>
    <div class="col-auto">

    </div>
</div>
<div class="row" *ngIf="!!statisticsData?.expenseTotal">
    <div class="col-12 col-md-12 align-self-center">
        <div class="chartdoughnut mb-4">
            <div class="datadisplay text-center shadow">
                <h1 class="fw-normal">{{statisticsData?.expenseTotal | currency}}</h1>
                <p class="text-muted">{{'EXPENSES' | translate}}</p>
            </div>
            <app-doughnut-chart [categories]="statisticsData?.categories"></app-doughnut-chart>
        </div>
    </div>
</div>

<div class="row mb-1">
    <div class="col-12 col-md-6 col-lg-6" *ngFor="let category of statisticsData?.categories">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                            <img *ngIf="!!categoryImagePath+category.category_image" [src]="categoryImagePath+category.category_image" [alt]="category.expense_name">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">{{category.category_name}}</span></p>
                        <p>{{category.total | currency}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- <div class="row mb-4">
    <div class="col-12">
        <div class="card bg-danger text-white text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col align-self-center">
                        <h1>15% OFF</h1>
                        <p class="size-12 text-muted">
                            On every bill pay, launch offer get 5% Extra
                        </p>
                        <div class="tag border-dashed border-opac">
                            BILLPAY15OFF
                        </div>
                    </div>
                    <div class="col-6 align-self-center ps-0">
                        <img src="assets/img/offergraphics-red.png" alt="" class="mw-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
