<!-- Search -->
<div class="form-group form-floating mb-3">
    <input type="text" class="form-control " id="search" placeholder="Search">
    <label class="form-control-label" for="search">Search User</label>
    <button type="button" class="text-color-theme tooltip-btn">
        <i class="bi bi-search"></i>
    </button>
</div>

<!-- chat user list -->
<div class="row">
    <div class="col-12 px-0">
        <div class="list-group rounded-0 bg-none">
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">John Domnic <span class="float-end small text-muted">2 min</span></p>
                        <p class="small text-muted"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">Alica Tirrantra<span class="float-end small text-muted">4 min</span></p>
                        <p class="small text-muted"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>

            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">Vijay Senapathi <span class="float-end small text-muted">12 min</span></p>
                        <p class="small text-muted"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">John Domnic <span class="float-end small text-muted">30 min</span></p>
                        <p class="small text-muted"><i class="bi bi-check-all text-primary"></i> Thank you
                            for your
                            purchase</p>
                    </div>
                </div>
            </a>
            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">Alica Tirrantra<span class="float-end small text-muted">1 hr</span></p>
                        <p class="small text-muted"><i class="bi bi-check"></i> Congratulations!</p>
                    </div>
                </div>
            </a>

            <a routerLink="/messages" class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">Vijay Senapathi <span class="float-end small text-muted">2 hr</span></p>
                        <p class="small text-muted"><i class="bi bi-check-all"></i> Thank you for your
                            purchase</p>
                    </div>
                </div>
            </a>
        </div>
       
    </div>
</div>