<div class="row mb-3">
    <div class="col">
        <h6 class="title">Details<br>
        </h6>
    </div>
    <div class="col-auto align-self-center">
        <a *ngIf="!!this.currentId" class="small">Delete</a>
        <!-- (click)="delete()" -->
    </div>
</div>


<form [formGroup]="profileForm">
    <div class="row h-100 mb-4">


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="firstname" placeholder="" formControlName="firstname">
                <label class="form-control-label" for="firstname">firstname</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="lastname" placeholder="" formControlName="lastname"> 
                <label class="form-control-label" for="lastname">lastname</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <select formControlName="gender" class="form-control" >
                    <option selected value="">Select</option>
                    <option value="f">Female</option>
                    <option value="m">Male</option>
                </select>
                <label class="form-control-label" for="gender">Gender</label>
            </div>
        </div   >

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="date_of_birth" placeholder="" formControlName="date_of_birth">
                <label class="form-control-label" for="date_of_birth">Date of Birth</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="date_of_birth" placeholder="" formControlName="date_of_birth">
                <label class="form-control-label" for="date_of_birth">Religion</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="username" placeholder="" formControlName="username">
                <label class="form-control-label" for="username">username</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="phone" placeholder="" formControlName="phone">
                <label class="form-control-label" for="phone">phone</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="email" placeholder="" formControlName="email">
                <label class="form-control-label" for="email">email</label>
            </div>
        </div>
    </div>


    <!-- <div class="row mb-3">
        <div class="col">
            <h6>Profile Picture</h6>
        </div>
    </div>
    <div class="row h-100 mb-4">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating mb-4">
                <input class="form-control" type="file" id="image" name="image" 
                (change)="onFileChange($event)" formControlName="image" placeholder="image">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="croppedImageBase64">
            <div class="avatar avatar-60 rounded-10">
                <img [src]="croppedImageBase64" class="avatar"/>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 mb-3" *ngIf="imageChangedEvent">
            <div class="form-group form-floating mb-4">
                <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 4"
                [resizeToWidth]="128"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            </div>
        </div>
    </div> -->

    <!-- <div class="row mb-3">
        <div class="col">
            <h6>Change Password</h6>
        </div>
    </div>
    <div class="row h-100 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-floating  mb-3">
                <input type="password" class="form-control" value="asdasdasdsd" placeholder="Password"  formControlName="password"
                    id="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-floating ">
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpassword" formControlName="confirmpassword">
                <label for="confirmpassword">Confirm Password</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h6>Notification Receive</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm mb-4">
                <ul class="list-group list-group-flush bg-none">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck1" formControlName="emailNotification">
                                    <label class="form-check-label" for="settingscheck1"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Email Notification</h6>
                                <p class="text-muted small">Default all notification will be sent</p>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck1" formControlName="enableOfflineAccess">
                                    <label class="form-check-label" for="settingscheck1"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Enable Offline Access</h6>
                                <p class="text-muted small">Save your date on your Machine for access</p>
                            </div>
                        </div>
                    </li>

                    
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto pr-0 align-self-center text-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="settingscheck2"  (change)="changeAccountDeactivation($event)"  >
                                    <label class="form-check-label" for="settingscheck2"></label>
                                </div>
                            </div>
                            <div class="col ps-0">
                                <h6 class="mb-1">Account Deactivation</h6>
                                <p class="text-muted small">Data saved for 15 days, auto-delete after.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</form>


<div class="row mb-4">
    <div class="col-12 ">
        <button (click)="onSubmit()" class="btn btn-default btn-lg shadow-sm w-100">
            Save
        </button>
    </div>
</div>