.registration-section {
    padding-top: 5rem !important;
}

.onset{
    width: 350px;
    margin: auto;
}
/* form-fields css */
input[type='text'], input[type='password'] {
    padding: 10px 4px;
    width: 90%;
    margin-top: 0px;
    /*margin-left: 8px;*/
    margin-bottom: 6px;
    border-radius: 5px;
    outline-color: #4f46e5;
    outline-offset: 1px;
    border: 1px solid lightgray;
}

/* form-label css */
.form-label{
    width: 120px;
    color: #47505f;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-left: 18px;
    margin-bottom: 0px;  
    text-align: left;
}

/* check-box css */

#check input[type='checkbox'] {
    width: 16px;
    border-color: #47505f;
}
.check-div{ 
    display: flex;
    justify-content:center;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
#check{
    width: 150px;
    float: left;
    padding: 0px;
    margin-right: 10px;
    margin-top: 8px;
}
#terms-cond {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    font-size: 14px;
    font-weight: 600;
    Color: #64748b;
    margin-bottom: 10px;
    margin-left: 10px;
}
span>a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #4f46e5;
    font-weight: 600;
    text-decoration: none;
}

span>a:hover {
    text-decoration: underline;
}
/* button css */
.form>#create-btn {
    width: 85%;
    margin-left: 8px;
    padding: 14px;
    background-color: #a020f0;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width:358px)  {
    .onset{
        width:300px ;
    }
    .check-div{
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .form>#create-btn{
        margin-top: 10px;
    }
}
@media (min-width:281px) and(max-width:352px){
    .onset{
        width: 100%;
    }
}
@media screen and(max-width:920px) {
    .onset{
        width: 500px;
    }
}

/* Registration pages css */

.regis-sec{
    margin-top: 25px;
}
.regis-fields input[type='text']{
    padding: 10px;
    width: 270px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
    outline-color: #4f46e5;
    outline-offset: 1px;
    border: 1px solid lightgray;  
}
.regis-label{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #47505f;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 8px;
    float: left;
    margin-bottom: 0px;
    line-height: 15px;
}
.btn-fld{
    width: 270px;
    margin-left:  20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.regis-fields>#create-btn{
    width:260px;
    padding:14px;
    background-color:#a020f0;
    color: white;
    font-weight: 600;
    font-family:'Inter', sans-serif ;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.flex-div{
    width:100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
form{
    width:600px;
    height: auto;
    margin: 10px auto;
}

@media screen and (max-width:605px) {
    form{
        width: 350px;
    }

form .flex-div{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.regis-fields>#create-btn{
    width: 280px;
}
.btn-fld{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width:450px){
    form{
        width: 350px;
    }
    form .flex-div{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .regis-fields>#create-btn{
        width: 280px;
    }
    .btn-fld{
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and(max-width:350px) {
    form{
        width:auto;
    }
    form .flex-div{
        flex-direction: column;
        align-items:center;
        width: 100px;
    }
    .regis-fields #create-btn{
        width: 100px;
    }
    .btn-fld{
        width: 100px;
    }   
}
  
.invalid-feedback{
    display: block !important;
}


#login-form