<div class="row mb-3">
    <div class="col">
        <h6 class="title">{{'INCOME' | translate}}<br>
        </h6>
    </div>
    <div class="col-auto align-self-center">
        <a [routerLink]="['/add', 'income']" class="small">{{'ADD' |translate}}</a>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 px-0">
        <ul class="list-group list-group-flush bg-none">
            <li class="list-group-item" [routerLink]="['/add', 'income']" (click)="openTransaction(expense, 'income')" *ngFor="let expense of expenseList">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-50 shadow rounded-10 ">
                            <img *ngIf="!!categoryImagePath+expense.category_image" [src]="categoryImagePath+expense.category_image" [alt]="expense?.expense_name">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="text-color-theme mb-0">{{expense?.expense_name}}</p>
                        <p class="text-muted size-12">{{expense.category_name}}</p>
                    </div>
                    <div class="col align-self-center text-end">
                        <p class="mb-0">{{expense?.amount | currency}}</p>
                        <p class="text-muted size-12">{{expense?.date_of_transaction | date: 'EEE, dd MMM yyyy'}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>