<!-- list pages -->
<div class="card shadow-sm mb-4">
    <div class="card-body text-center ">
        <p class="text-muted">All the customized list of pages displayed and more creative things you will
            find inside each page.</p>
    </div>
    <ul class="list-group list-group-flush bg-none">
        <li class="list-group-item"><a routerLink="/aboutus" class="text-normal d-block">About us <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/blog" class="text-normal d-block">Blogs <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/blogdetails" class="text-normal d-block">Blog Detail <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/messages" class="text-normal d-block">Chat Message <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/chat" class="text-normal d-block">Chat user list <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/" class="text-normal d-block">Splash <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/home" class="text-normal d-block">Home <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/landing" class="text-normal d-block">Landing <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/notifications" class="text-normal d-block">Notifications <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/stats" class="text-normal d-block">Statistics <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/style" class="text-normal d-block">Style <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/**" class="text-normal d-block">404 Error <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/faqs" class="text-normal d-block">FAQs <i class="float-end bi bi-arrow-right"></i></a></li>                    
        <li class="list-group-item"><a routerLink="/userlist" class="text-normal d-block">User List <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/timeline" class="text-normal d-block">Timeline <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/contactus" class="text-normal d-block">Contact us <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/pricing" class="text-normal d-block">Pricing <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/termsandconditions" class="text-normal d-block">Terms & Conditions <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item bg-light"><h5>Finance</h5></li>
        <li class="list-group-item"><a routerLink="/addmoney" class="text-normal d-block">Add Money <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/allreceivemoney" class="text-normal d-block">All Receive Request <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/bills" class="text-normal d-block">Bills <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/pay" class="text-normal d-block">Pay <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/receivemoney" class="text-normal d-block">Receive Money <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/rewards" class="text-normal d-block">Rewards <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/sendmoney" class="text-normal d-block">Send Money <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/sendmoney1" class="text-normal d-block">Send Money Group <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/sendmoney2" class="text-normal d-block">Send Money Person <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/wallet" class="text-normal d-block">Wallet <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/withdraw" class="text-normal d-block">Withdraw <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item bg-light"><h5>User Accounts</h5></li>
        <li class="list-group-item"><a routerLink="/signin" class="text-normal d-block">Sign in <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/signup" class="text-normal d-block">Sign up <i class="float-end bi bi-arrow-right"></i></a></li>                    
        <li class="list-group-item"><a routerLink="/profile" class="text-normal d-block">Profile <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/settings" class="text-normal d-block">Settings <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/forgetpassword" class="text-normal d-block">Forgot Passwod<i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/resetpassword" class="text-normal d-block">Reset Password <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/verify" class="text-normal d-block">Verify <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/thankyou" class="text-normal d-block">Thank you <i class="float-end bi bi-arrow-right"></i></a></li>                   
    </ul>
</div>

<div class="clearfix"></div>