<!-- chat user list -->
<div class="container chat-list scroll-y">
    <div class="row no-margin left-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        Hi!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="text-muted small time"><i class="bi bi-check"></i> 9:00 pm</p>
        </div>
    </div>
    <div class="row no-margin right-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        Hi!<br>Yes please tell us your query.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <p class="text-muted small time"><i class="bi bi-check"></i> 9:10 pm</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-12 text-center">
            <span class="bg-primary-light mx-auto btn btn-sm py-1 rounded mb-3">26 November 2021</span>
        </div>
    </div>
    <div class="row no-margin left-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        How are you? WalletPlus we were wait since long to be here.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
        </div>
    </div>
    <div class="row no-margin right-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        <div class="mw-100 position-relative mb-2 figure">
                            <div class="position-absolute end-0 top-0">
                                <button class="avatar avatar-36 rounded-circle p-0 btn btn-info text-white shadow-sm m-2">
                                    <i class="bi bi-download"></i>
                                </button>
                            </div>
                            <img src="assets/img/news1.jpg" alt="" class="mw-100">
                        </div>
                        How are you? WalletPlus we were waited since long to be here.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-12  text-center">
            <span class="bg-primary-light mx-auto btn btn-sm py-1 rounded mb-3">25 November 2019</span>
        </div>
    </div>
    <div class="row no-margin left-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        <div class="mw-100 position-relative mb-2 figure">
                            <video src="https://maxartkiller.com/website/maxartkiller.mp4" controls></video>
                        </div>
                        How are you? WalletPlus we were waited since long to be here.
                    </div>

                </div>
            </div>
            <div class="col-12">
                <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
            </div>
        </div>
    </div>
    <div class="row no-margin right-chat">
        <div class="col-12">
            <div class="chat-block">
                <div class="row">
                    <div class="col">
                        <p>WalletPlus is HTML template can be used in various business domains like
                            Manufacturing, inventory, IT, administration etc. for mobile application for
                            news and broadcasting </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <p class="text-muted small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
        </div>
    </div>
</div>
<br><br><br><br>
<!-- chat message post -->
<div class="position-fixed bottom-0 start-0 chat-post footer py-3">
    <div class="row mx-0">
        <div class="col-auto">
            <button class="btn btn-primary rounded-15" type="button" data-bs-toggle="modal" data-bs-target="#attachefiles">
                <i class="bi bi-plus"></i>
            </button>
        </div>
        <div class="col ps-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write your message">
                <button class="btn btn-outline-primary" type="button"><i class="bi bi-cursor"></i></button>
            </div>
        </div>
    </div>

</div>
<!-- chat message post page -->


<!-- Modal for attachments -->
<div class="modal fade " id="attachefiles" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xsm modal-dialog-centered ">
        <div class="modal-content shadow border-0">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-image size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i
                                        class="bi bi-file-earmark-richtext size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-zip size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-music size-32"></i></button>
                            </div>
                       
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-pdf size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-file-earmark-person size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-camera size-32"></i></button>
                            </div>
                            <div class="col-auto mb-3">
                                <button class="btn btn-outline-primary avatar-50 avatar p-0 rounded-circle"
                                    data-bs-dismiss="modal"><i class="bi bi-camera-video size-32"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for attachments ends here -->    